
		<style>
html {
	color: #05081c;
	text-align: center;
	background-image: url('resources/background2.png');
	background-size: 100%;
	font-size: 17px;
	font-family: "Open Sans", sans-serif;
	margin-top:0px;
	margin-left:7px			
}

div.menu-tab {
	background-color: #05081c;
	border-color: #808080;
	width: 90%;
	position: fixed;
}

div.main-content {
	text-align: center;
}

footer {
  background-color: #05081c;
	color: #ffffff;
	width: 90%;
	border-color: #808080;
}

div.icon {
	float: left;
}

div.name {
	background-color: #05081c;
	float: left;
}
		
img.title {
	background-color: #05081c;
	color: #ffffff;
}

h1.title {
	background-color: #05081c;
	color: #ffffff;
}

a {
	background-color: #05081c;
	bold: true;
	color: #00ffff;
	text-align: right;
}
